
#video{}
#controlBar{margin-top:0px;padding-top:0x; height:30;width:320px; position: absolute;background-color: #;}
#playBtn{position:absolute;left:0px;top:-10px;width:20px;font-size: 10px;}
#pauseBtn{display:none;position:absolute;left:0px;top:-10px;width:20px;font-size: 10px;}
#progressBar {    position:absolute;left:50px;width:200px;height:10px;background-color: #ff0000;}
#progressBarFill {position:absolute;left:50px;width:5px;height:10px;background-color: #aa0000;
transition: width 0.1s;
-moz-transition: width 0.1s; /* Firefox 4 */
-webkit-transition: width 0.1s; /* Safari and Chrome */
-o-transition: width 0.1s; /* Opera */
}
#volumeBar{position:absolute;left:270px;width:50px;height:10px;background-color: #ff0000;}
#volumeBarFill{position:absolute;left:270px;width:5px;height:10px;background-color: #aa0000;
transition: width 0.1s;
-moz-transition: width 0.1s; /* Firefox 4 */
-webkit-transition: width 0.1s; /* Safari and Chrome */
-o-transition: width 0.1s; /* Opera */}
